@import "./fonts.scss";
@import "./icons.scss";
@import "./variables.scss";
@import "./reset.scss";
@import "./ux.scss";
//@import "./swiper.scss";

/*-------------  header---------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 80px;
  min-height: 40px;
  @media (max-width: $md3+px) {
    min-height: 5px;
  }
  &._scroll {
    .header__wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
    .header__body {
      min-height: 50px;
      @media (min-width: $md2+px) {
        min-height: 70px;
      }
    }
  }
  // .header__wrapper

  &__wrapper {
    transition: background-color 0.3s ease 0s;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 500;
  }
  // .header__container

  &__container {
  }

  // .header__body

  &__body {
    transition: min-height 0.3s ease 0s;
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
    position: relative;
    @media (max-width: $md2+px) {
      min-height: 80px;
    }
    @media (max-width: $md3+px) {
      min-height: 50px;
    }
  }

  // .header__main

  &__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240 * 100%;
    @media (max-width: $md2+px) {
      flex: 1 1 auto;
    }
  }
  // .header__logo
  &__logo {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    z-index: 5;
    line-height: 29/24 * 100%;
  }

  // .header__menu

  &__menu {
  }

  // .header__search

  &__search {
    @include adaptiv-value("padding-right", 32, 15, 1);
    @media (min-width: $md2+px) {
      flex: 1 1 auto;
    }
  }
  // .header__actions
  &__actions {
  }
  //}

  .menu {
    flex: 0 1 420px;
    // .menu__body

    &__body {
      @media (max-width: $md3+px) {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: -100%;
        background-color: #fcf8f3;
        transition: left 0.3s ease 0s;
        padding: 70px 15px 30px 15px;
        &::before {
          content: "";
          position: fixed;
          width: 100%;
          height: 50px;
          top: 0;
          left: -100%;
          background-color: #fcf8f3;
          transition: left 0.3s ease 0s;
          z-index: 2;
        }
        &._active {
          left: 0;
          &::before {
            left: 0;
          }
        }
      }
    }
    // .menu__list

    &__list {
      @media (min-width: $md3+px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
    // .menu__item
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0px 3px;
      padding: 5px 0px;
      position: relative;
      @media (any-hover: hover) {
        &:hover {
          .menu__sub-list {
            transform: translate(0px, 0px);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
          .menu__arrow {
            transform: rotate(-180deg);
          }
          .menu__arrow,
          .menu__link {
            color: $orangeColor;
          }
        }
      }
      @media (min-width: $md3+px) {
        &._hover {
          .menu__sub-list {
            transform: translate(0px, 0px);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
          .menu__arrow {
            transform: rotate(-180deg);
          }
          .menu__arrow,
          .menu__link {
            color: $orangeColor;
          }
        }
      }
      @media (max-width: $md3+px) {
        margin: 0px 0px 15px 0px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    // .menu__link
    &__link {
      font-weight: 500;
      color: inherit;
      transition: color 0.3s ease 0s;
      @media (max-width: $md3+px) {
        font-size: 24px;
        font-weight: 600;
      }
    }
    // .menu__arrow
    &__arrow {
      margin: 0px 0px 0px 8px;
      transition: all 0.3s ease 0s;
      font-size: 8px;
      @media (max-width: $md3+px) {
        font-size: 14px;
        &._active {
          transform: rotate(-180deg);
        }
      }
      //}
    }
    // .menu__sub-list
    /*&__sub-list {
      position: relative;
      background-color: $orangeColor;
      padding: 15px;
      flex: 1 1 100%;
      @media (min-width: $md3+px) {
        opacity: 0;
        transition: all 0.3s ease 0s;
        transform: translate(0px, 10px);
        visibility: hidden;
        min-width: 200px;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        z-index: 5;
      }
      @media (max-width: $md3+px) {
        margin: 10px -15px 0px -15px;
      }
    }*/

    // .menu__sub-item

    /*&__sub-item {
      display: none;
      &:not(:last-child) {
        margin: 0px 0px 5px 0px;
        @media (max-width: $md3+px) {
          margin: 0px 0px 10px 0px;
        }
      }
    }*/

    // .menu__sub-link

    /*&__sub-link {
      color: #fff;
      line-height: 120%;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width: $md3+px) {
        font-size: 18px;
      }
    }*/
  }
  //}

  .search-form {
    max-width: 473px;
    &._active {
      .search-form__item {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
      .search-form__icon {
        color: $orangeColor;
      }
    }
    // .search-form__icon
    &__icon {
      position: relative;
      z-index: 5;
      font-size: 22px;
      color: #262f56;
      @media (min-width: $md2+px) {
        display: none;
      }
    }
    // .search-form__item

    &__item {
      background-color: #fff;
      display: flex;
      align-items: center;
      @media (max-width: $md2+px) {
        box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
        position: absolute;
        width: 100%;
        left: 0;
        top: -100%;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
      }
    }
    // .search-form__btn
    &__btn {
      flex: 0 0 45px;
      height: 45px;
      font-size: 15px;
      color: #333;
    }
    // .search-form__input
    &__input {
      font-size: 14px;
      width: 100%;
      padding: 0px 20px 0px 0px;
      color: $darkGreyColor;
    }
  }
  .actions-header {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    // .actions-header__item

    &__item {
      // .actions-header__item_favorites

      &_favorites {
        color: #262f56;
        font-size: 24px;
        transition: color 0.3 ease 0s;
        @media (any-hover: hover) {
          &:hover {
            color: $orangeColor;
          }
        }
      }
      // .actions-header__item_user

      &_user {
        //overflow: hidden;
        border-radius: 50%;
        max-width: 40px;
        max-height: 40px;
      }
    }
  }
  .cart-header {
    // .cart-header__icon

    &__icon {
      color: #262f56;
      font-size: 24px;
      transition: color 0.3 ease 0s;
      position: relative;
      display: block;
      margin: 15px;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
      span {
        position: absolute;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background-color: $orangeColor;
        color: #fff;
        font-size: 12px;
      }
    }
    // .cart-header__body

    &__body {
      background-color: #f4f5f7;
      border: 1px solid #e0e0e0;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 15px;
      width: 300px;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      transform: translate(0px, 20px);
      /*&_active & {
        background-color: red;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
      }*/
      @media (max-width: $md2+px) {
        top: 50px;
      }
      @media (max-width: $md3+px) {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
      }
    }

    // .cart-header__list

    &__list {
    }

    ._active {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);
    }
  }
  .cart-list {
    overflow: auto;
    max-height: 200px;
    // .cart-list__image

    &__image {
      flex: 0 0 100px;
      height: 100px;
    }

    // .cart-list__body

    &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
    }

    // .cart-list__title

    &__title {
      color: inherit;
      font-weight: 600;
      transition: color 0.3s ease 0s;
      margin-bottom: 5px/16px * 1em;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
    }

    // .cart-list__quantity

    &__quantity {
      font-size: 14px;
      margin-bottom: 5px/14px * 1em;
    }

    // .cart-list__delete

    &__delete {
      color: red;
      font-size: 14px;
      @media (any-hover: hover) {
        text-decoration: underline;
      }
    }
    &__item {
      display: flex;
      align-items: flex-start;
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
    }
  }

  .icon-menu {
    display: none;
    @media (max-width: $md3+px) {
      margin-left: 32px;
      position: relative;
      display: block;
      flex: 0 0 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        &:first-child {
          top: 0px;
        }
        &:last-child {
          top: auto;
          bottom: 0px;
        }
      }
      &._active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
}
/*---------- Footer---------------*/

.footer {
  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    border-top: 1px solid #d8d8d8;
    display: grid;
    grid-template-columns: 250px 1fr 290px;
    padding-top: 80px;
    padding-bottom: 60px;
    column-gap: 80px;
    @media (max-width: $md3+px) {
      padding-top: 30px;
      padding-bottom: 30px;
      column-gap: 0px;
    }
    @media (max-width: $md1+px) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 290px;
    }
    @media (max-width: $md2+px) {
      display: block;
    }
  }

  // .footer__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: $md1+px) {
      grid-column: span 2;
      margin-bottom: 40px;
    }
    @media (max-width: $md3+px) {
      margin-bottom: 20px;
    }
  }

  // .footer__logo

  &__logo {
    margin: 0px 0px 16px/24px * 1em 0px;
  }

  // .footer__text

  &__text {
    color: $greyColor;
    line-height: 150%;
    &:not(:last-child) {
      margin: 0px 0px 1em 0px;
    }
  }

  // .footer__contacts

  &__contacts {
  }

  // .footer__menu

  &__menu {
    @media (max-width: $md2+px) {
      margin-bottom: 40px;
    }
    @media (max-width: $md3+px) {
      margin-bottom: 20px;
    }
  }

  // .footer__subscribe

  &__subscribe {
  }
}
.container {
}

.footer {
  flex-shrink: 0;
  // .footer__subscribe

  &__subscribe {
  }
}
.subscribe {
  // .subscribe__title

  &__title {
  }

  // .subscribe__form

  &__form {
  }
}

.input {
}
.subscrobe {
  // .subscrobe__button

  &__button {
  }
}

// ._footer-title

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // .contacts-footer__item

  &__item {
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    color: $greyColor;
    transition: color 0.3s ease 0s;
    &::before {
      margin: 0px 8px 0px 0px;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
      @media (max-width: $md3+px) {
        margin-bottom: 10px;
      }
    }
    @media (any-hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
.menu-footer {
  @media (min-width: $md3+px) {
    display: flex;
  }
  // .menu-footer__column

  &__column {
    @media (min-width: $md3+px) {
      flex: 0 1 33.333%;
    }
    @media (max-width: $md3+px) {
      margin-bottom: 30px;
    }
    @media (max-width: $md4+px) {
      margin-bottom: 15px;
    }
  }

  // .menu-footer__title

  &__title {
    cursor: default;
    margin: 0px 0px 16px/24px * 1em 0px;
    @media (min-width: $md3+px) {
      margin: 0px 0px 16px/24px * 1em 0px;
      // стрелки для меню
      /*display: flex;
      width: 100%;
      flex-direction: row-reverse;
      @extend ._icon-arrow-down;*/
    }
  }

  // .menu-footer__list

  &__list {
    li {
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
    }
    @media (max-width: $md3+px) {
      display: none;
      &.active {
        display: block;
      }
    }
    @media (max-width: $md3+px) {
      padding: 15px 0px 0px 0px;
    }
  }

  // .menu-footer__link

  &__link {
    color: $darkGreyColor;
    transition: color 0.3s ease 0s;
    line-height: 120%;
    font-weight: 500;
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
.subscribe {
  // .subscribe__title

  &__title {
    margin: 0px 0px 16px/24px * 1em 0px;
  }

  // .subscribe__form

  &__form {
    display: flex;
    position: relative;
    flex: 1 1 auto; /*растягивает и сжимает флекс-элемент относительно его собственной ширины*/
  }

  &__button {
    flex: 0 0 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: $orangeColor;
    color: #fff;
    transition: background-color 0.3 ease 0s;
    margin: 0px 0px 0px 4px;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(207, 113, 25);
      }
    }
  }

  &__input {
    width: 100%; /*растягиваем тексовое поле на всю ширину родителя*/
    padding: 0px 12px;
    background-color: #f4f5f7;
    font-size: 16px;
    color: #828282;
  }
}

/*---------- main-------------*/

.page {
  flex: 1 1 auto;
  // .page__main-slider

  &__main-slider {
  }

  &__advantages {
  }

  &__products {
  }
  &__rooms {
  }
  &__tips {
  }
}
.main-slider {
  background-color: #fcf8f3;
  // .main-slider__container

  &__container {
    position: relative;
    @media (min-width: $md2+px) {
      &::before {
        content: "";
        background-color: #f9f1e7;
        position: absolute;
        top: 0;
        width: 215vh;
        right: 376px;
        height: 100%;
      }
    }
  }

  // .main-slider__body

  &__body {
    padding-top: 140px;
    position: relative;
    z-index: 2;
    @include adaptiv-value("padding-top", 80, 50, 1);
    @media (min-width: $md2+px) {
      display: flex;
    }
  }

  // .main-slider__content

  &__content {
    align-self: flex-start;
    flex: 0 0 494/1240 * 100%;
    margin-bottom: 80px;
    /*@media (max-width: $md3+px) {
      margin-bottom: 15px;
    }*/
    @media (max-width: $md2+px) {
      margin: 0px -15px;
    }
  }

  // .main-slider__slider

  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-end;
    @media (min-width: $md2+px) {
      padding: 0px 0px 0px 32px;
    }
  }
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.72);
  @media (max-width: $md3+px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (min-width: $md2+px) {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }
  // .content-main__title

  &__title {
    font-size: 56px;
    @media (max-width: $md3+px) {
      font-size: 24px;
    }
    font-weight: 700;
    line-height: 120%;
    &:not(:last-child) {
      margin: 0px 0px 16px/56px * 1em 0px;
    }
  }

  // .content-main__text

  &__text {
    font-size: 20px;
    @media (max-width: $md3+px) {
      font-size: 16px;
    }
    color: $greyColor;
    font-weight: 500;
    line-height: 150%;
    &:not(:last-child) {
      margin: 0px 0px 48px/20px * 1em 0px;
    }
  }

  // .content-main__button

  &__button {
    background-color: $orangeColor;
    font-weight: 600;
    min-height: 78px;
    font-size: 20px;
    color: #fff;
    width: 100%;
    @media (max-width: $md3+px) {
      min-height: 45px;
      font-size: 16px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #bf5514;
      }
    }
  }
}
.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: $md2+px) {
    align-items: stretch;
    flex-direction: column-reverse;
  }
  // .slider-main__controls

  &__controls {
    align-self: stretch;
    margin: 0px 0px 20px 0px;
    @media (max-width: $md2+px) {
      margin: 10px 0px 20px 0px;
    }
  }

  // .slider-main__body

  &__body {
    overflow: visible;
    width: 934px;
    /*@media (min-width: $md2+px) {
      @include adaptiv-value("width", 934, 290, 1);
    }*/

    @media (max-width: $md2+px) {
      margin: 0px -15px;
    }
    @media (max-width: $md3+px) {
      width: 734px;
    }
    @media (max-width: $md4+px) {
      max-width: 415px;
    }
  }

  // .slider-main__wrapper

  &__wrapper {
  }

  // .slider-main__slide

  &__slide {
    position: relative;
  }

  // .slider-main__image

  &__image {
    padding: 0px 0px 0px 0px;
  }

  // .slider-main__content

  &__content {
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    @media (max-width: $md3+px) {
      padding: 15px;
      right: 0px;
      bottom: 0px;
    }
    @media (min-width: $md3+px) {
      position: absolute;
      min-width: 350px;
      right: 40px;
      bottom: 40px;
    }
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .slider-main__title

  &__title {
    font-weight: 600;
    line-height: 120%;
    &:not(:last-child) {
      margin: 0px 0px 4px/28px * 1em 0px;
    }
    font-size: 28px;
    @media (max-width: $md3+px) {
      font-size: 22px;
    }
  }

  // .slider-main__text

  &__text {
    line-height: 150%;
    color: $greyColor;
    &:not(:last-child) {
      margin: 0px 0px 8px/16px * 1em 0px;
    }
  }

  // .slider-main__price

  &__price {
    display: flex;
    flex-direction: row-reverse;
    line-height: 150%;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    font-size: 20px;
    @media (max-width: $md3+px) {
      font-size: 16px;
    }
    &::before {
      margin: 0px 0px 0px 10px;
      font-size: 12px;
    }
  }
}
.controls-slider-main {
  display: flex;
  align-items: center;
  // .controls-slider-main__dotts

  &__dotts {
    flex: 1 1 auto;
    @media (min-width: $md2+px) {
      padding: 0px 20px 0px 0px;
    }
    @media (max-width: $md2+px) {
      justify-content: center;
    }
  }

  // .controls-slider-main__arrows

  &__arrows {
    @media (max-width: $md2+px) {
      display: none;
    }
  }
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
/* --------------------- swiper end----------__*/

.advantages {
  @include adaptiv-value("padding-top", 88, 30, 1);
  @include adaptiv-value("padding-bottom", 88, 30, 1);

  // .advantages__container
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .advantages__item

  &__item {
    display: inline-grid;
    padding: 15px 0;
    grid-template: auto auto / 85px 1fr;
    @media (max-width: $md2+px) {
      min-width: 280px;
    }
    @media (max-width: $md3+px) {
      grid-template: auto auto / auto 1fr;
    }
  }

  // .advantages__icon
  &__icon {
    text-align: center;
    align-self: center;
    grid-row: span 2;
    @media (max-width: $md3+px) {
      padding: 0px 15px 0px 0px;
    }
  }

  // .advantages__title

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    margin: 0px 0px 2px/18px * 1em 0px;
  }

  // .advantages__text

  &__text {
    line-height: 150%;
    color: $greyColor;
  }
}
/*--------------- Goods Cards--------------*/

.products {
  @include adaptiv-value("padding-bottom", 44, 30, 1);
  // .products__container
  &__container {
  }

  // .products__title

  &__title {
    margin: 0px 0px 32px/40px * 1em 0px;
  }

  // .products__items

  &__items {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }

  // .products__item

  &__item {
  }

  // .products__footer

  &__footer {
    padding: 32px 0px 0px 0px;
    text-align: center;
  }

  // .products__more

  &__more {
    border: 1px solid $orangeColor;
    min-width: 245px;
    &._hold {
      opacity: 0.4;
      cursor: default;
    }
  }
}

.item-product {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (any-hover: hover) {
    &:hover {
      .item-product__actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .item-product__labels

  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptiv-value("right", 24, 10, 1);
    @include adaptiv-value("top", 24, 10, 1);
  }

  // .item-product__label

  &__label {
    flex: 0 0 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
    // .item-product__label_sale

    &_sale {
      background-color: #e97171;
    }
    // .item-product__label_new
    &_new {
      background-color: #2ec1ac;
    }
  }

  // .item-product__image

  &__image {
    //padding: 0px 0px 301px/285px * 100% 0px;
  }

  // .item-product__body

  &__body {
    flex: 1 1 auto;
    padding: 16px 16px 30px 16px;
    display: flex;
    flex-direction: column;
  }

  // .item-product__content

  &__content {
    flex: 1 1 auto;
  }

  // .item-product__title

  &__title {
    @include adaptiv-value("font-size", 24, 20, 1);
    font-weight: 600;
    line-height: 120%;
    margin: 0px 0px 8px/24px * 1em 0px;
  }

  // .item-product__text

  &__text {
    color: $greyColor;
    line-height: 150%;
    margin: 0px 0px 8px/24px * 1em 0px;
  }

  // .item-product__prices

  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 150%;
  }

  // .item-product__price

  &__price {
    @include adaptiv-value("font-size", 20, 16, 1);
    font-weight: 600;
    // .item-product__price_old

    &_old {
      @include adaptiv-value("font-size", 16, 14, 1);
      font-weight: normal;
      margin: 0px 0px 0px 16px;
      color: #b0b0b0;
      text-decoration: line-through;
    }
  }

  // .item-product__actions

  &__actions {
    @media (any-hover: none) {
      padding-top: 15px;
    }
    @media (any-hover: hover) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease 0s;
      background-color: rgba(58, 58, 58, 0.74);
      z-index: 3;
    }
  }
}
.actions-product {
  // .actions-product__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .actions-product__button

  &__button {
    flex: 1 1 100%;
    &:not(:last-child) {
      margin: 0px 0px 24px 0px;
    }
    &._hold {
      opacity: 0.4;
      cursor: default;
    }
  }

  // .actions-product__link

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    &::before {
      margin: 0px 10px 0px 0px;
      font-size: 16px;
    }
    @media (any-hover: hover) {
      color: #fff;
      &:hover {
        color: $orangeColor;
      }
    }
  }
}

/* --------------- Second slider------------*/

.rooms {
  background-color: #fcf8f3;
  @include adaptiv-value("padding-top", 44, 30, 1);
  @include adaptiv-value("padding-bottom", 44, 30, 1);

  // .rooms__container
  &__container {
    @media (min-width: $md2+px) {
      display: flex;
    }
  }

  // .rooms__body

  &__body {
    flex: 0 0 465/1240 * 100%;
    position: relative;
    z-index: 5;
    align-self: center;
    @media (min-width: $md2+px) {
      @include adaptiv-value("padding-right", 80, 30, 1);
    }
    @media (max-width: $md2+px) {
      margin-bottom: 30px;
    }
  }

  // .rooms__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 8px/40px * 1em;
    }
    text-align: left;
  }

  // .rooms__text

  &__text {
    line-height: 150%;
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  // .rooms__button

  &__button {
    background: $orangeColor;
    color: #fff;
    min-width: 180px;
    @media (any-hover: hover) {
      &:hover {
        background: #bf5514;
      }
    }
  }

  // .rooms__slider

  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-start;
    @media (max-width: $md4+px) {
      margin: 0px -15px;
    }
  }
}

.slider-rooms {
  position: relative;
  // .slider-rooms__body

  &__body {
    overflow: visible;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      left: 0;
      background-color: #fcf8f3;
      z-index: 2;
      transform: translate(-100%, 0px);
    }
  }

  // .slider-rooms__slide

  &__slide {
    width: 372px;
    position: relative;
    overflow: hidden;
    @include adaptiv-value("min-height", 585, 400, 1);
    &.swiper-slide-active {
      .slider-rooms__image {
        height: 100%;
      }
    }
    @media (max-width: $md4+px) {
      width: 100%;
    }
  }

  // .slider-rooms__image

  &__image {
    position: absolute;
    transition: height 0.8s ease 0s;
    height: 100%;
    @media (min-width: $md3+px) {
      height: 83%;
    }
  }

  // .slider-rooms__content

  &__content {
    position: absolute;
    color: inherit;
    max-width: 240px;
    @include adaptiv-value("left", 24, 15, 1);
    @include adaptiv-value("bottom", 24, 15, 1);
    @include adaptiv-value("padding", 32, 15, 1);
    background-color: rgba(255, 255, 255, 0.9);
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(100%, 0px);
      width: 48px;
      height: 48px;
      background-color: $orangeColor;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // .slider-rooms__label

  &__label {
  }

  // .slider-rooms__title

  &__title {
    font-weight: 600;
    @include adaptiv-value("font-size", 28, 24, 1);
  }

  // .slider-rooms__arrows

  &__arrows {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    justify-content: space-between;
    width: calc(100% - 48px);
    left: 24px;
    z-index: 5;
    @media (min-width: $md1+px) {
      width: calc(100% + 48px);
      left: -24px;
    }
  }

  // .slider-rooms__dotts

  &__dotts {
    @media (min-width: $md3+px) {
      position: absolute;
      bottom: 30px;
      width: 100%;
      left: 396px;
    }
    @media (max-width: $md3+px) {
      justify-content: center;
      padding-top: 15px;
    }
  }
}

.swiper-wrapper {
}
.swiper-slide {
}

.label-slider {
  display: grid;
  color: $darkGreyColor;
  gap: 8px;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto 27px auto;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  // .label-slider__number

  &__number {
  }

  // .label-slider__line

  &__line {
    height: 1px;
    background-color: $darkGreyColor;
  }

  // .label-slider__text

  &__text {
  }
}
.slider-arrows {
}
.slider-arrow {
  // .slider-arrow_white

  &_white {
  }

  // .slider-arrow_next

  &_next {
  }

  // .slider-arrow_prev

  &_prev {
  }
}

/*--------------- slider tips ---------------*/

.tips {
  @include adaptiv-value("padding-top", 44, 30, 1);
  @include adaptiv-value("padding-bottom", 44, 30, 1);

  // .tips__container

  &__container {
  }

  // .tips__title

  &__title {
  }

  // .tips__slider

  &__slider {
  }
}

.slider-tips {
  position: relative;
  // .slider-tips__body

  &__body {
    @include adaptiv-value("margin-left", -32, -15, 1);
    @include adaptiv-value("margin-right", -32, -15, 1);
    @include adaptiv-value("padding", 32, 15, 1);
  }

  // .slider-tips__slide

  &__slide {
    display: flex;
    flex-direction: column;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
      }
    }
  }

  // .slider-tips__image

  &__image {
    //padding-bottom: 251/391 * 100%;
  }

  // .slider-tips__content

  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1 1 auto;
    align-items: flex-start;
  }

  // .slider-tips__title

  &__title {
    flex: 1 1 auto;
    color: inherit;
    font-weight: 600;
    line-height: 120%;
    @include adaptiv-value("font-size", 24, 18, 1);
    transition: all 0.3s ease 0s;
    &:not(:last-child) {
      margin-bottom: 8px/24px * 1em;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }

  // .slider-tips__text

  &__text {
    color: $greyColor;
    font-size: 14px;
    line-height: 150%;
  }

  // .slider-tips__dotts

  &__dotts {
    @include adaptiv-value("padding-top", 8, 0, 1);
    justify-content: center;
  }

  // .slider-tips__arrows

  &__arrows {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    justify-content: space-between;
    width: calc(100% - 48px);
    left: 24px;
    z-index: 5;
    @media (min-width: $md1+px) {
      width: calc(100% + 48px);
      left: -24px;
    }
    @media (max-width: $md3+px) {
      display: none;
    }
  }
}
.swiper-container {
}
.swiper-wrapper {
}
.slider-arrows {
}
.slider-arrow {
  // .slider-arrow_white

  &_white {
  }

  // .slider-arrow_next

  &_next {
  }

  // .slider-arrow_prev

  &_prev {
  }
}
