@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("Gilroy-SemiBold.woff") format("woff"), url("Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("Gilroy-Medium.woff") format("woff"), url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
  content: "";
}

._icon-arrow-link:before {
  content: "";
}

._icon-cart:before {
  content: "";
}

._icon-favorite:before {
  content: "";
}

._icon-location:before {
  content: "";
}

._icon-phone:before {
  content: "";
}

._icon-search:before {
  content: "";
}

._icon-send:before {
  content: "";
}

._icon-share:before {
  content: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-size: 16px;
  font-family: "Gilroy";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  border: none;
}

button {
  border: none;
  background-color: inherit;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}

._container {
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

main {
  flex: 1 0 auto;
}

/*-------------  header---------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 80px;
  /*._container {
    // ._container


    // ._icon-arrow-down

    &_icon-arrow-down {
    }

    // ._icon-search

    &_icon-search {
    }

    // ._icon-favorite

    &_icon-favorite {
    }

    // ._icon-cart

    &_icon-cart {
    }

    // ._ibg

    &_ibg {
    }
  }*/
}
.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}
@media (max-width: 991.98px) {
  .header__body {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
  }
}
.header__main {
  display: flex;
  align-items: center;
  flex: 0 0 39.8387096774%;
}
@media (max-width: 991.98px) {
  .header__main {
    flex: 1 1 auto;
  }
}
.header__logo {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  z-index: 5;
  line-height: 120.8333333333%;
}
@media (min-width: 991.98px) {
  .header__search {
    flex: 1 1 auto;
  }
}
@media (max-width: 767.98px) {
  .header__search {
    padding-right: 32px;
  }
}
.header .menu {
  flex: 0 1 420px;
  /*&__sub-list {
    position: relative;
    background-color: $orangeColor;
    padding: 15px;
    flex: 1 1 100%;
    @media (min-width: $md3+px) {
      opacity: 0;
      transition: all 0.3s ease 0s;
      transform: translate(0px, 10px);
      visibility: hidden;
      min-width: 200px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      z-index: 5;
    }
    @media (max-width: $md3+px) {
      margin: 10px -15px 0px -15px;
    }
  }*/
  /*&__sub-item {
    display: none;
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
      @media (max-width: $md3+px) {
        margin: 0px 0px 10px 0px;
      }
    }
  }*/
  /*&__sub-link {
    color: #fff;
    line-height: 120%;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 18px;
    }
  }*/
}
@media (max-width: 767.98px) {
  .header .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
  .header .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .header .menu__body._active {
    left: 0;
  }
  .header .menu__body._active::before {
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .header .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.header .menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 3px;
  padding: 5px 0px;
  position: relative;
}
@media (any-hover: hover) {
  .header .menu__item:hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .header .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .header .menu__item:hover .menu__arrow,
.header .menu__item:hover .menu__link {
    color: #e89f71;
  }
}
@media (min-width: 767.98px) {
  .header .menu__item._hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .header .menu__item._hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .header .menu__item._hover .menu__arrow,
.header .menu__item._hover .menu__link {
    color: #e89f71;
  }
}
@media (max-width: 767.98px) {
  .header .menu__item {
    margin: 0px 0px 15px 0px;
  }
  .header .menu__item:last-child {
    margin-bottom: 0px;
  }
}
.header .menu__link {
  font-weight: 500;
  color: inherit;
  transition: color 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .header .menu__link {
    font-size: 24px;
    font-weight: 600;
  }
}
.header .menu__arrow {
  margin: 0px 0px 0px 8px;
  transition: all 0.3s ease 0s;
  font-size: 8px;
}
@media (max-width: 767.98px) {
  .header .menu__arrow {
    font-size: 14px;
  }
  .header .menu__arrow._active {
    transform: rotate(-180deg);
  }
}
.header .search-form {
  max-width: 473px;
}
.header .search-form._active .search-form__item {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.header .search-form._active .search-form__icon {
  color: #e89f71;
}
.header .search-form__icon {
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #262f56;
}
@media (min-width: 991.98px) {
  .header .search-form__icon {
    display: none;
  }
}
.header .search-form__item {
  background-color: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header .search-form__item {
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
}
.header .search-form__btn {
  flex: 0 0 45px;
  height: 45px;
  font-size: 15px;
  color: #333;
}
.header .search-form__input {
  font-size: 14px;
  width: 100%;
  padding: 0px 20px 0px 0px;
  color: #616161;
}
.header .actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
}
.header .actions-header__item_favorites {
  color: #262f56;
  font-size: 24px;
  transition: color 0.3 ease 0s;
}
@media (any-hover: hover) {
  .header .actions-header__item_favorites:hover {
    color: #e89f71;
  }
}
.header .actions-header__item_user {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
}
.header .cart-header__icon {
  color: #262f56;
  font-size: 24px;
  transition: color 0.3 ease 0s;
  position: relative;
  display: block;
  margin: 15px;
}
@media (any-hover: hover) {
  .header .cart-header__icon:hover {
    color: #e89f71;
  }
}
.header .cart-header__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #e89f71;
  color: #fff;
  font-size: 12px;
}
.header .icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .header .icon-menu {
    margin-left: 32px;
    position: relative;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header .icon-menu span:first-child {
    top: 0px;
  }
  .header .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header .icon-menu._active span {
    transform: scale(0);
  }
  .header .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*---------- Footer---------------*/
.footer__body {
  border-top: 1px solid #d8d8d8;
  display: grid;
  grid-template-columns: 250px 1fr 290px;
  padding-top: 80px;
  padding-bottom: 60px;
  column-gap: 80px;
}
@media (max-width: 767.98px) {
  .footer__body {
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 0px;
  }
}
@media (max-width: 1282px) {
  .footer__body {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 290px;
  }
}
@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1282px) {
  .footer__main {
    grid-column: span 2;
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .footer__main {
    margin-bottom: 20px;
  }
}
.footer__logo {
  margin: 0px 0px 0.6666666667em 0px;
}
.footer__text {
  color: #898989;
  line-height: 150%;
}
.footer__text:not(:last-child) {
  margin: 0px 0px 1em 0px;
}
@media (max-width: 991.98px) {
  .footer__menu {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .footer__menu {
    margin-bottom: 20px;
  }
}
.footer {
  flex-shrink: 0;
}
._footer-title {
  font-size: 22px;
  color: #000;
  line-height: 120.8333333333%;
  font-weight: 700;
}
@media (max-width: 479.98px) {
  ._footer-title {
    font-size: 20px;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts-footer__item {
  display: inline-flex;
  align-items: center;
  line-height: 150%;
  color: #898989;
  transition: color 0.3s ease 0s;
}
.contacts-footer__item::before {
  margin: 0px 8px 0px 0px;
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .contacts-footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (any-hover) {
  .contacts-footer__item:hover {
    color: #e89f71;
  }
}

@media (min-width: 767.98px) {
  .menu-footer {
    display: flex;
  }
}
@media (min-width: 767.98px) {
  .menu-footer__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 767.98px) {
  .menu-footer__column {
    margin-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .menu-footer__column {
    margin-bottom: 15px;
  }
}
.menu-footer__title {
  cursor: default;
  margin: 0px 0px 0.6666666667em 0px;
}
@media (min-width: 767.98px) {
  .menu-footer__title {
    margin: 0px 0px 0.6666666667em 0px;
    /*display: flex;
    width: 100%;
    flex-direction: row-reverse;
    @extend ._icon-arrow-down;*/
  }
}
.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
@media (max-width: 767.98px) {
  .menu-footer__list {
    display: none;
  }
  .menu-footer__list.active {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .menu-footer__list {
    padding: 15px 0px 0px 0px;
  }
}
.menu-footer__link {
  color: #616161;
  transition: color 0.3s ease 0s;
  line-height: 120%;
  font-weight: 500;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #e89f71;
  }
}

.subscribe__title {
  margin: 0px 0px 0.6666666667em 0px;
}
.subscribe__form {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  /*растягивает и сжимает флекс-элемент относительно его собственной ширины*/
}
.subscribe__button {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #e89f71;
  color: #fff;
  transition: background-color 0.3 ease 0s;
  margin: 0px 0px 0px 4px;
}
@media (any-hover: hover) {
  .subscribe__button:hover {
    background-color: #cf7119;
  }
}
.subscribe__input {
  width: 100%;
  /*растягиваем тексовое поле на всю ширину родителя*/
  padding: 0px 12px;
  background-color: #f4f5f7;
  font-size: 16px;
  color: #828282;
}

/*------------slider ---------------*/
/*.swiper-container {
  width: 600px;
  height: 300px;
}*/
/*---------- main-------------*/
.page {
  flex: 1 1 auto;
}
.main-slider {
  background-color: #fcf8f3;
}
.main-slider__container {
  position: relative;
}
@media (min-width: 991.98px) {
  .main-slider__container::before {
    content: "";
    background-color: #f9f1e7;
    position: absolute;
    top: 0;
    width: 215vh;
    right: 376px;
    height: 100%;
  }
}
.main-slider__body {
  padding-top: 140px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .main-slider__body {
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .main-slider__body {
    padding-top: 50px;
  }
}
@media (min-width: 991.98px) {
  .main-slider__body {
    display: flex;
  }
}
.main-slider__content {
  flex: 0 0 39.8387096774%;
}
.main-slider__slider {
  flex: 1 1 auto;
  min-width: 0;
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.72);
}
@media (max-width: 767.98px) {
  .content-main {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 991.98px) {
  .content-main {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
    .content-main {
      background-color: rgba(255, 255, 255, 0.72);
      -webkit-backdrop-filter: blur(31px);
              backdrop-filter: blur(31px);
    }
  }
}
.content-main__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 767.98px) {
  .content-main__title {
    font-size: 24px;
  }
}
.content-main__title:not(:last-child) {
  margin: 0px 0px 0.2857142857em 0px;
}
.content-main__text {
  font-size: 20px;
  color: #898989;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .content-main__text {
    font-size: 16px;
  }
}
.content-main__text:not(:last-child) {
  margin: 0px 0px 2.4em 0px;
}
.content-main__button {
  background-color: #e89f71;
  font-weight: 600;
  min-height: 78px;
  font-size: 20px;
  color: #fff;
  width: 100%;
}
@media (max-width: 767.98px) {
  .content-main__button {
    min-height: 45px;
    font-size: 16px;
  }
}
@media (any-hover: hover) {
  .content-main__button:hover {
    background-color: #bf5514;
  }
}

.controls-slider-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  column-gap: 8px;
}

.slider-arrow {
  border-radius: 50%;
  height: 48px;
  background-color: rgba(232, 159, 113, 0.3);
  color: #e89f71;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.slider-arrow_prev::before {
  display: inline-block;
  transform: rotate(-90deg);
}
.slider-arrow_next::before {
  display: inline-block;
  transform: rotate(90deg);
}
@media (any-hover: hover) {
  .slider-arrow:hover {
    color: #fff;
    background-color: #e89f71;
  }
}
.slider-arrow_white {
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
@media (any-hover: hover) {
  .slider-arrow_white:hover {
    background-color: #e89f71;
    color: #fff;
  }
}

.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}
.swiper-pagination-bullet::after {
  content: "";
  height: 11px;
  width: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #e89f71;
  transition: transform 0.3s ease 0s;
  transform: scale(0);
}

.swiper-pagination-bullet-active::before {
  transform: scale(1);
}
.swiper-pagination-bullet-active::after {
  background-color: #e89f71;
}